$color-white: #fff;
$color-white_e: #eee;
$color-white_t: #f0f0f0;
$color-black: #000;
$color-black_l: #333;
$color-gray: #666;
$color-red: red;
$color-green: green;

body {
  background-color: $color-white;
  color: $color-black_l;
  margin: 33px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: $color-white_e;
  padding: 10px;
  font-size: 11px;
}

a {
  color: $color-black;
}

a:visited {
  color: $color-gray;
}

a:hover {
  color: $color-white;
  background-color: $color-black;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: $color-green;
}

.field_with_errors {
  padding: 2px;
  background-color: $color-red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid $color-red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: $color-white_t;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: $color-red;
  color: $color-white;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}
